.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.parent{letter-spacing:-1em;word-spacing:-1em;}
.child{letter-spacing:normal;word-spacing:normal;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
html body{background:url('../_imgs/layout/bg-all.png') center top repeat-y;}html body .main{width:980px;padding:0 0;margin:0 auto;letter-spacing:-1em;word-spacing:-1em;font-size:0;}html body .main #menu-lateral{display:inline-block;*display:inline;zoom:1;vertical-align:top;letter-spacing:normal;word-spacing:normal;width:217px;margin-left:-3000px;padding-left:3000px;}html body .main #menu-lateral ul{padding:30px 0 30px 22px;list-style:none;}html body .main #menu-lateral ul li{font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:normal;color:#ffe7c2;margin:10px 0;}html body .main #menu-lateral ul li a{color:#95cccc;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}html body .main #menu-lateral ul li a:active,html body .main #menu-lateral ul li a:visited{color:#95cccc;}
html body .main #menu-lateral ul li a:hover,html body .main #menu-lateral ul li a.ativo{color:#ffe7c2;}
html body .main #conteudo{display:inline-block;*display:inline;zoom:1;vertical-align:top;letter-spacing:normal;word-spacing:normal;width:763px;}html body .main #conteudo header #img-logo{margin:15px 0 0 -18px;display:inline-block;*display:inline;zoom:1;vertical-align:top;position:relative;z-index:99;}
html body .main #conteudo header nav{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:505px;height:225px;position:relative;}html body .main #conteudo header nav ul{position:absolute;top:0;left:0;width:505px;height:225px;}html body .main #conteudo header nav ul li{display:block;position:absolute;width:90px;height:90px;}html body .main #conteudo header nav ul li a{width:90px;height:90px;line-height:90px;text-align:center;display:block;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;position:absolute;top:0;left:0;color:#8d364a;}
html body .main #conteudo header nav ul li#mn-home{top:21px;left:-5px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}html body .main #conteudo header nav ul li#mn-home a{background:url('../_imgs/layout/menu_home.png') center center no-repeat;}html body .main #conteudo header nav ul li#mn-home a:hover,html body .main #conteudo header nav ul li#mn-home a.ativo{background:url('../_imgs/layout/menu_home-hover.png') center center no-repeat;}
html body .main #conteudo header nav ul li#mn-empresa{top:80px;left:65px;}html body .main #conteudo header nav ul li#mn-empresa a{background:url('../_imgs/layout/menu_empresa.png') center center no-repeat;}html body .main #conteudo header nav ul li#mn-empresa a:hover,html body .main #conteudo header nav ul li#mn-empresa a.ativo{background:url('../_imgs/layout/menu_empresa-hover.png') center center no-repeat;}
html body .main #conteudo header nav ul li#mn-produtos{top:24px;left:138px;}html body .main #conteudo header nav ul li#mn-produtos a{background:url('../_imgs/layout/menu_produtos.png') center center no-repeat;}html body .main #conteudo header nav ul li#mn-produtos a:hover,html body .main #conteudo header nav ul li#mn-produtos a.ativo{background:url('../_imgs/layout/menu_produtos-hover.png') center center no-repeat;}
html body .main #conteudo header nav ul li#mn-servicos{top:-16px;left:220px;}html body .main #conteudo header nav ul li#mn-servicos a{background:url('../_imgs/layout/menu_servicos.png') center center no-repeat;}html body .main #conteudo header nav ul li#mn-servicos a:hover,html body .main #conteudo header nav ul li#mn-servicos a.ativo{background:url('../_imgs/layout/menu_servicos-hover.png') center center no-repeat;}
html body .main #conteudo header nav ul li#mn-parceiros{top:27px;left:300px;}html body .main #conteudo header nav ul li#mn-parceiros a{background:url('../_imgs/layout/menu_parceiros.png') center center no-repeat;}html body .main #conteudo header nav ul li#mn-parceiros a:hover,html body .main #conteudo header nav ul li#mn-parceiros a.ativo{background:url('../_imgs/layout/menu_parceiros-hover.png') center center no-repeat;}
html body .main #conteudo header nav ul li#mn-contato{top:42px;left:390px;}html body .main #conteudo header nav ul li#mn-contato a{background:url('../_imgs/layout/menu_contato.png') center center no-repeat;}html body .main #conteudo header nav ul li#mn-contato a:hover,html body .main #conteudo header nav ul li#mn-contato a.ativo{background:url('../_imgs/layout/menu_contato-hover.png') center center no-repeat;}
html body .main #conteudo header nav #link-facebook{position:absolute;top:14px;left:473px;display:block;width:36px;height:36px;}
html body .main #conteudo header nav #link-twitter{position:absolute;top:48px;left:508px;display:block;width:36px;height:36px;}
html body .main #conteudo header nav #frase-topo{position:absolute;width:310px;height:50px;line-height:25px;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:22px;font-weight:normal;top:150px;left:170px;color:#95cccc;}
html body .main #conteudo section{position:relative;z-index:1;padding-left:18px;margin-top:-35px;padding-bottom:20px;}html body .main #conteudo section h1{border-top:2px #ffe7c2 solid;text-align:right;border-bottom:2px #ffe7c2 solid;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:24px;font-weight:normal;margin-bottom:30px;line-height:38px;height:38px;color:#ffe7c2;}
html body .main #conteudo section h2{text-align:center;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:normal;color:#ffe7c2;}
html body .main #conteudo section .container{font-size:0;letter-spacing:-1em;word-spacing:-1em;}
html body .main footer{position:relative;width:980px;padding-top:5px;margin-top:20px;height:60px;border-top:2px #ffe7c2 solid;}html body .main footer .telefone{width:218px;color:#ffe7c2;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal;line-height:170%;}html body .main footer .telefone .num{font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:18px;font-weight:normal;}
html body .main footer .assinatura{position:absolute;top:5px;right:0;width:300px;text-align:right;font-family:'Arial','Verdana','Tahoma',sans-serif;font-size:10px;font-weight:normal;color:#ffe7c2;}html body .main footer .assinatura a{margin-top:3px;display:block;color:#ffe7c2;}html body .main footer .assinatura a:active,html body .main footer .assinatura a:visited{color:#ffe7c2;}
html body .main footer .assinatura a span{vertical-align:4px;}
html body .main footer .assinatura a:hover span{border-bottom:1px #ffe7c2 dotted;}
