@import 'vars.less';

html{
	body{
		background:url('../_imgs/layout/bg-all.png') center top repeat-y;
		.main{
			.centralizar;
			.parent;
			font-size: 0;
			#menu-lateral{
				.inline;
				.child;
				width:217px;
				margin-left:-3000px;
				padding-left:3000px;
				ul{
					padding:30px 0 30px 22px;
					list-style:none;
					li{
						.androgyne(20px);
						color:@bege;
						margin:10px 0;
						a{
							color:@azul_claro;
							.transition;
							&:active, &:visited{ color:@azul_claro; }
							&:hover, &.ativo{
								color:@bege;
							}
						}
					}
				}
			}
			#conteudo{
				.inline;
				.child;
				width:763px;
				header{
					#img-logo{
						margin:15px 0 0 -18px;
						.inline;
						position:relative;
						z-index:99;
					}
					nav{
						.inline;
						width:505px;
						height:225px;
						position:relative;
						ul{
							position:absolute;
							top:0;
							left:0;
							width:505px;
							height:225px;
							li{
								a{
									width:90px;
									height:90px;
									line-height:90px;
									text-align:center;
									display:block;
									.androgyne(14px);
									.transition;
									position:absolute;
									top:0;
									left:0;
									color:@vermelho;
								}
								display:block;
								position:absolute;
								width:90px;
								height:90px;
								&#mn-home{
									top:21px;
									left:-5px;
									.transition;
									a{
										background:url('../_imgs/layout/menu_home.png') center center no-repeat;
										&:hover, &.ativo{
											background:url('../_imgs/layout/menu_home-hover.png') center center no-repeat;
										}
									}
								}
								&#mn-empresa{
									top:80px;
									left:65px;
									a{
										background:url('../_imgs/layout/menu_empresa.png') center center no-repeat;
										&:hover, &.ativo{
											background:url('../_imgs/layout/menu_empresa-hover.png') center center no-repeat;
										}
									}
								}
								&#mn-produtos{
									top:24px;
									left:138px;
									a{
										background:url('../_imgs/layout/menu_produtos.png') center center no-repeat;
										&:hover, &.ativo{
											background:url('../_imgs/layout/menu_produtos-hover.png') center center no-repeat;
										}
									}
								}
								&#mn-servicos{
									top:-16px;
									left:220px;
									a{
										background:url('../_imgs/layout/menu_servicos.png') center center no-repeat;
										&:hover, &.ativo{
											background:url('../_imgs/layout/menu_servicos-hover.png') center center no-repeat;
										}
									}
								}
								&#mn-parceiros{
									top:27px;
									left:300px;
									a{
										background:url('../_imgs/layout/menu_parceiros.png') center center no-repeat;
										&:hover, &.ativo{
											background:url('../_imgs/layout/menu_parceiros-hover.png') center center no-repeat;
										}
									}
								}
								&#mn-contato{
									top:42px;
									left:390px;
									a{
										background:url('../_imgs/layout/menu_contato.png') center center no-repeat;
										&:hover, &.ativo{
											background:url('../_imgs/layout/menu_contato-hover.png') center center no-repeat;
										}
									}
								}
							}
						}
						#link-facebook{
							position:absolute;
							top:14px;
							left:473px;
							display:block;
							width:36px;
							height:36px;
						}
						#link-twitter{
							position:absolute;
							top:48px;
							left:508px;
							display:block;
							width:36px;
							height:36px;
						}
						#frase-topo{
							position:absolute;
							width:310px;
							height:50px;
							line-height:25px;
							.androgyne(22px);
							top:150px;
							left:170px;
							color:@azul_claro;
						}
					}
				}
				section{
					position:relative;
					z-index:1;
					padding-left:18px;
					margin-top:-35px;
					padding-bottom:20px;
					h1{
						border-top:2px @bege solid;
						text-align:right;
						border-bottom:2px @bege solid;
						.androgyne(24px);
						margin-bottom:30px;
						line-height:38px;
						height:38px;
						color:@bege;
					}
					h2{
						text-align:center;
						.androgyne(20px);
						color:@bege;
					}
					.container{
						font-size:0;
						.parent;
					}
				}
			}
			footer{
				position:relative;
				width:980px;
				padding-top:5px;
				margin-top:20px;
				height:60px;
				border-top:2px @bege solid;
				.telefone{
					width:218px;
					color:@bege;
					.androgyne(12px);
					line-height:170%;
					.num{
						.androgyne(18px);
					}
				}
				.assinatura{
					position:absolute;
					top:5px;
					right:0;
					width:300px;
					text-align:right;
					.arial(10px);
					color:@bege;
					a{
						margin-top:3px;
						display:block;
						color:@bege;
						&:active, &:visited{color:@bege;}
						span{
							vertical-align:4px;
						}
						&:hover{
							span{
								border-bottom:1px @bege dotted;
							}
						}
					}
				}
			}
		}
	}
}