@import 'vars.less';

::-webkit-input-placeholder { color: @bege; }
:-moz-placeholder { color: @bege; }
::-moz-placeholder { color: @bege; }
:-ms-input-placeholder { color: @bege; }

.container{
	.coluna-1{
		.inline;
		width:400px;
		.endereco{
			.androgyne(20px);
			color:@azul_claro;
		}
		iframe{
			margin-top:10px;
			.arredondada(15px);
		}
	}
	.coluna-2{
		.inline;
		width:345px;
		text-align:right;
		.telefone{
			color:@azul_claro;
			.androgyne(30px);
			line-height:100%;
		}
		.mail-link{
			color:@azul_claro;
			.androgyne(20px);
			.transition;
			&:active, &:visited{color:@azul_claro;}
			&:hover{ color:@bege; }
		}
		form{
			padding-top:4px;
			margin-top:5px;
			textarea,
			input[type="text"],
			input[type="email"]{
				padding:10px 14px;
				width:281px;
				border:0;
				margin:0 0 5px 0;
				background:#6f183a;
				color:@bege;
				.arredondada(7px);
				.androgyne(16px);
			}
			textarea{
				resize:none;
				overflow:auto;
				scroll:auto;
				height:150px;
			}
			.submit-placeholder{
				height:35px;
				input[type="submit"]{
					height:35px;
					width:86px;
					text-align:center;
					border:0;
					color:@vermelho;
					background-color:@azul_claro;
					.transition;
					.arredondada(7px);
					.androgyne(16px);
					&:hover{
						background-color:@bege;
						cursor:pointer;
					}
				}
			}
		}
	}
}