.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.parent{letter-spacing:-1em;word-spacing:-1em;}
.child{letter-spacing:normal;word-spacing:normal;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
::-webkit-input-placeholder{color:#ffe7c2;}
:-moz-placeholder{color:#ffe7c2;}
::-moz-placeholder{color:#ffe7c2;}
:-ms-input-placeholder{color:#ffe7c2;}
.container .coluna-1{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:400px;}.container .coluna-1 .endereco{font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:normal;color:#95cccc;}
.container .coluna-1 iframe{margin-top:10px;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');}
.container .coluna-2{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:345px;text-align:right;}.container .coluna-2 .telefone{color:#95cccc;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:30px;font-weight:normal;line-height:100%;}
.container .coluna-2 .mail-link{color:#95cccc;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:normal;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.container .coluna-2 .mail-link:active,.container .coluna-2 .mail-link:visited{color:#95cccc;}
.container .coluna-2 .mail-link:hover{color:#ffe7c2;}
.container .coluna-2 form{padding-top:4px;margin-top:5px;}.container .coluna-2 form textarea,.container .coluna-2 form input[type="text"],.container .coluna-2 form input[type="email"]{padding:10px 14px;width:281px;border:0;margin:0 0 5px 0;background:#6f183a;color:#ffe7c2;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('PIE.htc');font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:16px;font-weight:normal;}
.container .coluna-2 form textarea{resize:none;overflow:auto;scroll:auto;height:150px;}
.container .coluna-2 form .submit-placeholder{height:35px;}.container .coluna-2 form .submit-placeholder input[type="submit"]{height:35px;width:86px;text-align:center;border:0;color:#8d364a;background-color:#95cccc;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('PIE.htc');font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:16px;font-weight:normal;}.container .coluna-2 form .submit-placeholder input[type="submit"]:hover{background-color:#ffe7c2;cursor:pointer;}
