@import 'vars.less';

section{
	img{
		.inline;
		.arredondada(15px);
	}
	.texto{
		.inline;
		width:355px;
		margin-left:20px;
		.dekar(16px);
		color:@bege;
		.destaque{
			width:335px;
			color:@vermelho;
			.androgyne(22px);
			line-height:140%;
			.arredondada(0 15px 15px 0);
			margin-top:20px;
			margin-bottom:20px;
			background:url('../_imgs/layout/empresa_detalhe-texto.png') @azul_claro right bottom no-repeat;
			margin-left:-20px;
			padding:20px;
		}
	}
}