.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.parent{letter-spacing:-1em;word-spacing:-1em;}
.child{letter-spacing:normal;word-spacing:normal;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
section img{display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');}
section .texto{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:355px;margin-left:20px;font-family:'Dekar','Arial','Verdana','Tahoma',sans-serif;font-size:16px;font-weight:normal;color:#ffe7c2;}section .texto .destaque{width:335px;color:#8d364a;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:22px;font-weight:normal;line-height:140%;-webkit-border-radius:0 15px 15px 0;-moz-border-radius:0 15px 15px 0;-o-border-radius:0 15px 15px 0;border-radius:0 15px 15px 0;behavior:url('PIE.htc');margin-top:20px;margin-bottom:20px;background:url('../_imgs/layout/empresa_detalhe-texto.png') #95cccc right bottom no-repeat;margin-left:-20px;padding:20px;}
