.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.parent{letter-spacing:-1em;word-spacing:-1em;}
.child{letter-spacing:normal;word-spacing:normal;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
section #slides{height:340px;margin-bottom:10px;}section #slides .slide{-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');height:340px;background:url('../_imgs/layout/home_chamada.png') #95cccc right bottom no-repeat;}section #slides .slide a{height:340px;display:block;}section #slides .slide a img{-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');}
section #slides .slide a .slide-texto{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:255px;padding:44px 0 0 28px;font-family:'Dekar','Arial','Verdana','Tahoma',sans-serif;font-size:26px;font-weight:normal;color:#8d364a;}
section #texto-home{display:inline-block;*display:inline;zoom:1;vertical-align:top;min-height:140px;width:285px;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:18px;font-weight:normal;color:#95cccc;line-height:130%;}section #texto-home strong{font-weight:normal;color:#ffe7c2;}
section #navegacao{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:455px;height:140px;}section #navegacao a{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:140px;height:140px;margin-left:10px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');}section #navegacao a img{-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');}
