@import 'vars.less';

section{
	#slides{
		height:340px;
		margin-bottom:10px;
		.slide{
			.arredondada(15px);
			height:340px;
			background:url('../_imgs/layout/home_chamada.png') @azul_claro right bottom no-repeat;
			a{
				height:340px;
				display:block;
				img{
					.arredondada(15px);
				}
				.slide-texto{
					.inline;
					width:255px;
					padding:44px 0 0 28px;
					.dekar(26px);
					color:@vermelho;
				}
			}
			
		}		
	}
	#texto-home{
		.inline;
		min-height:140px;
		width:285px;
		.androgyne(18px);
		color:@azul_claro;
		line-height:130%;
		strong{
			font-weight:normal;
			color:@bege;
		}
	}
	#navegacao{
		.inline;
		width:455px;
		height:140px;
		a{
			.inline;
			width:140px;
			height:140px;
			margin-left:10px;
			.transition;
			.arredondada(15px);
			img{ .arredondada(15px); }
			&.activeSlide{
				
			}
		}
	}
}