@import 'vars.less';

section{
	.link-parceiros{
		margin-bottom:10px;
		margin-right:10px;
		.arredondada(15px);
		.inline;
		.transition;
		&.ultimo{ margin-right:0; }
		img{ .arredondada(15px) }
		&:hover{
			-webkit-box-shadow: 0px 0px 4px 1px #95CCCC;
			box-shadow: 0px 0px 4px 1px #95CCCC;
		}
	}
}