.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.parent{letter-spacing:-1em;word-spacing:-1em;}
.child{letter-spacing:normal;word-spacing:normal;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
section .link-parceiros{margin-bottom:10px;margin-right:10px;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}section .link-parceiros.ultimo{margin-right:0;}
section .link-parceiros img{-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');}
section .link-parceiros:hover{-webkit-box-shadow:0px 0px 4px 1px #95CCCC;box-shadow:0px 0px 4px 1px #95CCCC;}
