@import 'vars.less';

section{
	.container{
		a{
			.inline;
			width:140px;
			margin-bottom:15px;
			margin-right:11px;
			.dekar(14px);
			color:@bege;
			text-align:center;
			.transition;
			&.ultimo{ margin-right:0; }
			img{
				.transition;
				.arredondada(15px);
			}
			&:hover{
				color:@azul_claro;
				img{
					-webkit-box-shadow: 0px 0px 4px 1px #95CCCC;
					box-shadow: 0px 0px 4px 1px #95CCCC;
				}
			}
		}
	}
}