.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.parent{letter-spacing:-1em;word-spacing:-1em;}
.child{letter-spacing:normal;word-spacing:normal;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
section .abre-texto{min-height:31px;line-height:140%;padding:8px 20px 8px 20px;font-family:'Androgyne','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:normal;color:#8d364a;display:block;background:url('../_imgs/layout/servicos_seta-dir.png') #95cccc 713px center no-repeat;margin-bottom:1px;margin-top:4px;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('PIE.htc');-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}section .abre-texto:hover{background:url('../_imgs/layout/servicos_seta-dir.png') #ffe7c2 713px center no-repeat;}
section .abre-texto.ativo{-webkit-border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-o-border-radius:7px 7px 0 0;border-radius:7px 7px 0 0;behavior:url('PIE.htc');background:url('../_imgs/layout/servicos_seta-baixo.png') #ffe7c2 713px center no-repeat;}
section .texto{-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;-o-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px;behavior:url('PIE.htc');padding:15px;background-color:#fff;font-family:'Dekar','Arial','Verdana','Tahoma',sans-serif;font-size:16px;font-weight:normal;color:#8d364a;line-height:130%;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}section .texto p{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
section .texto.fechado{padding:0 15px;height:0;}section .texto.fechado p{height:0;display:none;}
