@import 'vars.less';

section{
	.abre-texto{
		min-height:31px;
		line-height:140%;
		padding:8px 20px 8px 20px;
		.androgyne(20px);
		color:@vermelho;
		display:block;
		background:url('../_imgs/layout/servicos_seta-dir.png') @azul_claro 713px center no-repeat;
		margin-bottom:1px;
		margin-top:4px;
		.arredondada(7px);
		.transition;
		&:hover{
			background:url('../_imgs/layout/servicos_seta-dir.png') @bege 713px center no-repeat;
		}
		&.ativo{
			.arredondada(7px 7px 0 0);
			background:url('../_imgs/layout/servicos_seta-baixo.png') @bege 713px center no-repeat;
		}
	}
	.texto{
		.arredondada(0 0 7px 7px);
		padding:15px;
		background-color:#fff;
		.dekar(16px);
		color:@vermelho;
		line-height:130%;
		.transition;
		p{.transition;}
		&.fechado{
			padding:0 15px;
			height:0;
			p{
				height:0;
				display:none;
			}
		}
	}
}