@largura:980px;
@azul_claro:#95CCCC;
@vermelho:#8D364A;
@bege:#FFE7C2;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.parent{letter-spacing:-1em;word-spacing:-1em}
.child{letter-spacing:normal;word-spacing:normal}

.androgyne(@fsize:12px, @fweight:normal){
	font-family:'Androgyne','Arial', 'Verdana', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.dekar(@fsize:12px, @fweight:normal){
	font-family: 'Dekar', 'Arial', 'Verdana', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', 'Verdana', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}