@font-face {
    font-family: 'Androgyne';
    src: url('androgyne_tb-webfont.eot');
    src: url('androgyne_tb-webfont.eot?#iefix') format('embedded-opentype'),
         url('androgyne_tb-webfont.woff') format('woff'),
         url('androgyne_tb-webfont.ttf') format('truetype'),
         url('androgyne_tb-webfont.svg#androgyneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dekar';
    src: url('dekar-webfont.eot');
    src: url('dekar-webfont.eot?#iefix') format('embedded-opentype'),
         url('dekar-webfont.woff') format('woff'),
         url('dekar-webfont.ttf') format('truetype'),
         url('dekar-webfont.svg#dekarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}